@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend Variable', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lalezar', system-ui;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

.fade-out {
  animation: fade-out 0.5s ease-out forwards;
}

@layer components {
  .section { height: calc(100vh - 144px); }

  .video-slide {
    max-height: calc(100vh - 144px - 46px - 32px - 32px);
    @apply px-16;
  }
}