---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<div
  class:list={[
    "flex justify-center items-center",
    "border border-brand-gray",
    "rounded-[2.5rem] overflow-hidden",
    className,
  ]}
>
  <slot />
</div>
