---
const languages = [
  {
    link: "/",
    code: "pl",
  },
  {
    link: "/fr",
    code: "fr",
  },
  {
    link: "/en",
    code: "en",
  },
];
---

<div class="flex">
  {
    languages.map((language, index) => (
      <a
        href={language.link}
        class="px-6 py-3 rounded-full text-sm font-medium bordered-btn"
      >
        {language.code}
      </a>
    ))
  }
</div>
