---
const navLinks = [
  {
    link: "/?reel=1",
    text: "Reel",
  },
  {
    link: "/zespol",
    text: "Zespół",
  },
  {
    link: "#kontakt",
    text: "Kontakt",
    class: "scroll-bottom",
  },
];
---

<div class="flex">
  {
    navLinks.map((link, index) => (
      <a
        href={link.link}
        class:list={[
          "px-16 py-3 text-sm font-medium bordered-btn border-r border-y lowercase",
          { "rounded-l-full border-l": index === 0 },
          { "rounded-r-full": index === navLinks.length - 1 },
          { "scroll-bottom": link.class },
        ]}
      >
        {link.text}
      </a>
    ))
  }
</div>

<script type="module">
  document.querySelector(".scroll-bottom").addEventListener("click", (e) => {
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>
