---
import { Picture } from "astro:assets";
import logoSrc from "src/assets/logo.png";
import LanguagesNav from "src/components/molecules/LanguagesNav.astro";
import PagesNav from "src/components/molecules/PagesNav.astro";
---

<header class="navbar mix-blend-difference">
  <Picture
    src={logoSrc}
    alt="Endless logo"
    width={logoSrc.width}
    height={logoSrc.height}
    loading="eager"
    formats={["avif", "webp", "jpeg"]}
    fallbackFormat="png"
    class=""
  />
  <div class="flex items-center">
    <PagesNav />
    <LanguagesNav />
  </div>
</header>

<style>
  .navbar {
    @apply fixed top-0 inset-x-0 m-auto flex items-center justify-between container h-32 bg-transparent z-10;
  }
</style>
